ul,ol,li,a{list-style: none;padding:0;text-decoration: none;}
.container-h{
	float: left;
}
.price {
	border-bottom: #000 1px solid;
	text-align: center;
	max-width: 287px;
	margin: 0 auto 25px;
}
.price span{
	background-color: #fff;
	padding: 0 10px;
	font: normal 17px 'Open Sans', Arial, sans-serif;
	bottom: -11px;
	position: relative;
	color: #000000;
}
.Select-Options-h{

	width: 200px;
	height: 50px;
	border-radius:42px; 
	border: 1px solid #E9E9E9;
	background: red;
	margin:20px auto;
	display: none;


	
}
.Select-Options-P-h{
	text-align: center;
	line-height: 50px;
	color: #fff;
}
.container-h {
	height: 420px;
}
.container-h:hover{
	border: 2px solid  #E9E9E9;
}
.container-h:hover>.Select-Options-h{
	display: block;
}
.Page{

	background: #fff;
}
.name-h{
	font-size: 22px;
	font-weight: 600;
}

@keyframes dich_chuyen {
	0%   {top:-20px;}
	50%  {top:-10px;}
	70%  {top:0px;}
	100% {top:10px;}
}


.container-h  a {
	display: block;


	position:relative;

	text-align: center;

	transition-duration: 1s;
} 

.container-h  a:hover {
	animation:dich_chuyen 2s infinite;
} 
