ul,ol,li,a{list-style: none;padding:0;text-decoration: none;}


.center-left-h li{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #E9E9E9;
	background: #f7f7f7;
	line-height: 50px;
	font-size: 18px;
	cursor: pointer;
	padding-left: 40px;
}
.sidebar-list-page-t>li:first-child{
	border-radius: 20px 20px 0px 0px;
}
.sidebar-list-page-t>li:last-child{
	border-radius: 0px 0px 20px 20px;
}
.center-left-h li:hover{
	background:  rgb(192, 10, 39);
	border-radius:50px;
	font-weight: 600;
}
.center-left-h li:hover a{
	color: #fff;
}

.Bacon-h{
	margin-top: 30px;
	font-size: 24px;
}
.amount-of-money{
	float: left;
	    line-height: 50px;
    margin-right: 8px;
    text-align: center;
}
.check-h{
	float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #E9E9E9;
    line-height: 0px;
    text-align: center;
    line-height: 14px;
    padding-top: 9px;
    font-size: 14px;
}
.Select-Options-h{

	width: 200px;
	height: 50px;
	border-radius:42px; 
	border: 1px solid #E9E9E9;
	background: red;
	margin:20px auto;
	display: none;


	
}
.Select-Options-P-h{
	text-align: center;
	line-height: 50px;
	color: #fff;
}

.clear-h{
	clear:both;
}
.check-h:hover{
	background: orange;
	border: 1px solid orange;
	
} 
.card-h{
	height: 500px;
	float: left;
	margin-bottom: 10px;
}
.home-img-h{
	margin: 0 auto;
}
.card-h:hover{
	border: 2px solid  #E9E9E9
}
.card-h:hover>a>.Select-Options-h{
	display: block;
}
.card-h:hover>a>.Select-Options-h:hover{
	background-color: #c00a27;
}
.li-first-h{
	border-radius:20px 20px 0px 0px ;
}
.li-last-h{
	border-radius:0px 0px 20px 20px ;
}
.ul-money-h{
     margin: 0 auto;
    height: 50px;
    width: 246px;
  
    padding-left: 10px;
    padding-right: 10px;

}
.relative {
	width: 100%;
	height: 50px;
	border-radius: 40px;
	background: #F7F7F7;
	margin-top: 46px;
    margin-bottom: 46px;

}
input{
	margin-top: -1px;
    margin-left: 20px;
    border: none;
    width:190px;
	height: 50px;
	border-radius: 40px;
	background:  #F7F7F7;

}
button{
	border: none;
	    color: #b4b4b4;
}
input:focus,button:focus{
	outline: none;
}
.icon-i-h{
	font-size: 25px;
	margin-right: 20px;
}
.Pick-h{
	font-size: 14px;
}
del{
	font-size: 12px;
	opacity: 0.5
}
.Orange-h{
	color: #C70A27;
	font-size: 18px;
}
.juice-h{
	font-size: 15px;
}
.border-h{
	border-bottom: 1px solid #E9E9E9;
	border-top: 1px solid #E9E9E9;
	padding-top: 40px;
	padding-bottom: 20px;
}
.Best-Deals-h{
	font-size: 18px;
	color: #2d2b2d;
	font-weight: 300;
	margin-bottom: 20px;
}
/* combo offer */
ul,ol,li,a{list-style: none;padding:0;text-decoration: none;}
.container-h{
	float: left;
}
.price {
	border-bottom: #000 1px solid;
	text-align: center;
	max-width: 287px;
	margin: 0 auto 25px;
}
.price span{
	background-color: #fff;
	padding: 0 10px;
	font: normal 17px 'Open Sans', Arial, sans-serif;
	bottom: -11px;
	position: relative;
	color: #000000;
}
.Select-Options-h{

	width: 200px;
	height: 50px;
	border-radius:42px; 
	border: 1px solid #E9E9E9;
	background: red;
	margin:20px auto;
	display: none;


	
}
.Select-Options-P-h{
	text-align: center;
	line-height: 50px;
	color: #fff;
}
.container-h {
	height: 420px;
}
.container-h:hover{
	border: 2px solid  #E9E9E9;
}
.container-h:hover>.Select-Options-h{
	display: block;
	cursor: pointer;
}
.Page{

	background: #fff;
}
.name-h{
	font-size: 22px;
	font-weight: 600;
}

@keyframes dich_chuyen {
	0%   {top:-10px;}
	50% {top:10px;}
	100% {top:-10px;}
}
.container-h  a {
	display: block;
	position:relative;
	text-align: center;
	transition-duration: 1s;
	cursor: pointer;
} 
.container-h  a:hover {
	animation:dich_chuyen 1s infinite;
} 
.combo-offer-page-h{
	margin-top: 100px;
}
/* store-location */
.store-location-page-h ul,ol,li,a{list-style: none;padding:0; text-decoration: none;}
.store-location-page-h .a-h{
	color: #fff;
	font-size: 14px;
}
.store-location-page-h .a-h:hover{
	text-decoration: none;
	color: #fff;
}
.store-location-page-h .li-menu{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #E9E9E9;
	background: #80808080;
	line-height: 50px;
	font-size: 18px;
	cursor: pointer;
	margin-bottom: 20px;
	border-radius: 50px;
	color: black;
	font-weight: 600;
}
.store-location-page-h .center-left-h li:hover{
	background: #99081F;
	border-radius:50px;
	color: #fff;
	font-weight: 600;
}

.store-location-page-h .Bacon-h{
	margin-top: 30px;
	font-size: 24px;
}
.store-location-page-h .amount-of-money{
	float: left;
	    line-height: 50px;
    margin-right: 8px;
    text-align: center;
}
.store-location-page-h .check-h{
	float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #E9E9E9;
    line-height: 0px;
    text-align: center;
    line-height: 14px;
    padding-top: 9px;
    font-size: 14px;
}
.store-location-page-h .Select-Options-h{
	width: 200px;
	height: 50px;
	border-radius:42px; 
	border: 1px solid #E9E9E9;
	background: red;
	margin:20px auto;
	display: none;
}
.store-location-page-h .Select-Options-P-h{
	text-align: center;
	line-height: 50px;
	color: #fff;
}
.store-location-page-h .clear-h{
	clear:both;
}
.store-location-page-h .check-h:hover{
	background: #ff0;
	
} 
.store-location-page-h .card-h{
	height: 500px;
	float: left;
}
.store-location-page-h .li-first-h{
	/*border-radius:20px 20px 0px 0px ;*/
}
.store-location-page-h .li-last-h{
	border-radius:0px 0px 20px 20px ;
}
.store-location-page-h .ul-money-h{
     margin: 0 auto;
    height: 50px;
    width: 246px;
  
    padding-left: 10px;
    padding-right: 10px;

}
.store-location-page-h .relative {
	width: 100%;
	height: 50px;
	border-radius: 40px;
	background: #F7F7F7;
	margin-top: 46px;
    margin-bottom: 46px;

}

.store-location-page-h input:focus,button:focus{
	outline: none;
}
.store-location-page-h .icon-i-h{
	font-size: 25px;
	margin-right: 20px;
}
.store-location-page-h .Pick-h{
	font-size: 14px;
}

.store-location-page-h .Orange-h{
	color: #C70A27;
	font-size: 16px;
}
.store-location-page-h .juice-h{
	font-size: 15px;
}
.store-location-page-h .border-h{
	border-bottom: 1px solid #E9E9E9;
	border-top: 1px solid #E9E9E9;
	padding-top: 30px;
	padding-bottom: 30px;
}
.store-location-page-h .Best-Deals-h{
	font-size: 18px;
	color: #2d2b2d;
	font-weight: 300;
	margin-bottom: 20px;
}
.store-location-page-h .img-h{
	width: 40%;
    float: left;
    margin-top: -16px;
    margin-right: 10px;
}
.store-location-page-h .tex-h{
	width: 100%;
}
.store-location-page-h .move-h{
	width: 400px;
	height: 50px;
	margin: 0 auto;
}
.store-location-page-h .move-li{
	float: left;
	width: 50px;
	height: auto;
	background: #ff0;
	line-height: 50px;
}

.store-location-page-h .menu-detail-h{
	width: 100%;
	height: auto;
	background: #009145;
	border-radius: 20px 20px 20px 20px;
	padding-bottom: 1px;
	margin-bottom: 15px;
}
.store-location-page-h .detail-h3{
	background: #00522C;
	height: 50px;
	width: 100%;
	line-height: 50px;
		border-radius:20px 20px 0px 0px ;
		color: #fff;
		font-size: 16px;

}
.store-location-page-h .none-h{
	display: none;
}
.store-location-page-h .store-h{
	margin-bottom: 30px;
}
.store-location-page-h{
	margin-top: 100px;
	margin-bottom: 50px;
}
.store-location-page-h .center-left-h li{
	padding-left: 0px;
}
.store-location-page-h .address-h {
    padding: 10px;
}
.store-location-page-h .address-h:hover {
    font-weight: 600;
}
.test-h> ul>li{
	color: #fff;
	margin-bottom: 20px;
	margin-left: 20px;
}
.close-h{
    width: 100%;
    height: 70px;
    color: #fff;
    line-height: 70px;
    background: #191F24;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 700;
}
.icon-responsive-h{
	color: #fff;
	cursor: pointer;
}
.test-h{
        background-color: #333e48;
    position: fixed;
    top: 0;
    left: -80%;
    width: 310px;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: left .2s;
    -moz-transition: left .2s;
    -ms-transition: left .2s;
    -o-transition: left .2s;
    transition: left .2s;
    z-index: 10000;
   
    border-right: 1px solid rgba(255,255,255,.2);
   display: none;
}
.test1-h{
	 left: 0;

}
.test-h-span-h{
	margin-top: 10px;
}
.icon-responsive-h{
	display: none;
}
.pagination {

    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    width:284px;
    height: auto;
    margin: 0 auto;

}
.contact-page-h{
	margin-bottom: 50px;
}
.d1-pagegalary:hover img{
	transform: scale(1.2);
	transition: 1s;
}
@media screen and (max-width: 1200px){
	.card-h{
		height: 520px;
	}
	input{
		width: 91%;
	}
.icon-responsive-h{
	display: block;
}
.nav-single-page-t img{
	width: 100px;
}
}
@media screen and (max-width: 992px){
	.card-h{
		height: 555px;

	}
	input{
		width: 90%;
	}
	.main-3-content-home-page-t{
		height: auto;
	}
	.badge-pill{
		margin-right: 1px;
		margin-left: 1px;
	}
}
@media screen and (max-width: 750px){
	.card-h{
		height: 530px;
	}
	input{
		width:87%;
	}
	.main-3-content-home-page-t h1{
		font-size: 63px;
	}
	.main-one-pizza-home-page-t h3{
		font-size: 70px;
	}
	.badge-pill{
		margin-right: 1px;
		margin-left: 1px;
	}
	.container-fluid-h{
		width: 100%;
		height: auto;
	}
	#list-tab{
		flex-direction: column;
		    padding-right: 0px;
		    padding-left: 0px;
	}
	.icon-responsive-h{
	margin-right: 10px;
}
.badge-pill{
   /* padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 13px;
    padding-top: 11px;*/
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: 52px;
    height: 52px;
    line-height: 50px;
    cursor: pointer;
}
}
@media screen and (max-width: 500px){
	.card-h{
		height: 530px;
	}
	input{
		width:81%;
	}
	.badge-pill{
		margin-right: 1px;
		margin-left: 1px;
	}
	.icon-responsive-h{
	margin-right: 20px;
}
}