<!DOCTYPE html>
<html lang="en-US">
   <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Contact Us</title>
        <!-- css -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" media="all" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
        <link rel="stylesheet" href="css/nga.min.css">
        <link rel="stylesheet" type="text/css" href="css/font-pizzaro.css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CYanone+Kaffeesatz:200,300,400,700" rel="stylesheet">
        <link rel="shortcut icon" href="images/fav-icon.png">
        <!-- css của các thành viên -->
        <link rel="stylesheet" type="text/css" href="css/thinh.css" media="all" />
        <link rel="stylesheet" type="text/css" href="css/hoan.css" media="all" />
        <link rel="stylesheet" type="text/css" href="css/dat.css" media="all" />
        <!-- Script -->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
        <script src="js/angular-route.js"></script>
        <script src="js/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
        <script src="js/ui-bootstrap-tpls-0.11.0.js"></script>
        <script src='js/jquery.zoom.js'></script>
        <!-- Script của các thành viên -->
        <script type="text/javascript" src="js/thinh.js"></script>
        <script type="text/javascript" src="js/hoan.js"></script>

   </head>
   <body ng-app="shopApp" ng-controller="contactController">  
        <!--Đây là phần header khi  thu nhỏ  -->
        <header class="container-fluid  d-xl-none ">
            <div class="test-h  test1-h">
                <h3 class="close-h" onclick="closeheader()"><span class="test-h-span-h">x</span>     Close</h3>
                <ul>
                    <a href="list-product.html#!/pizzas"><li  > <i class="po po-pizza icon-i-h"></i>Pizza</li></a>
                    <a href="list-product.html#!garlic_breads"><li  > <i class="po po-burger icon-i-h"></i>Sandwiches</li></a>
                    <a href="list-product.html#!/pizza_sandwiches"><li  > <i class="po po-salads icon-i-h"></i>Garlic Breads</li></a>
                    <a href="list-product.html#!/desserts"><li  > <i class="po po-tacos icon-i-h"></i>Desserts</li></a>
                    <a href="list-product.html#!/beverages"><li  class=" li-last-h " ><i class="po po-drinks icon-i-h"></i> Beverages</li></a>
    
    
                    <a href="combo-offers-page.html"><li><i class="po po-wraps icon-i-h"></i>Combo</li></a>
                    <a href="weekendspecial.html"><li  ><i class="po po-best-quality icon-i-h"></i>Weekend</li></a>
                    <a href="galary.html"><li  ><i class="po po-master-chef icon-i-h"></i>Gallery</li></a>
                    <a href="franchise.html"><li  ><i class="po po-load-more-icon icon-i-h"></i>Franchise</li></a>
                    <a href="store-location.html"><li  ><i class="po po-store-locator-menu icon-i-h"></i>Store location</li></a>
    
                </ul>
    
            </div>
            <div class="row header-single-page-t">
                <nav class="container">
                    <!-- Thanh menu trên header -->
                    <ul class="nav row align-items-center nav-single-page-t">
                        <li class="nav-item col">
                            <a class="nav-link" href="#"><img src="images/Logo3.png" alt="Logo" class="img-fluid"></a>
                        </li>
                        <li class="nav-item col d-lg-none d-xl-block  d-md-none d-sm-none d-none ">
                            <a href="#">Order online</a>
                        </li>
                    </li>
                    <li class="nav-item col dropdown-header-category-t  d-lg-none d-xl-block  d-md-none d-sm-none d-none">
                        <a href="#">Catagory<i class="fas fa-caret-down"></i></a>
                        <div class="dropdown-header-category-div-t">
                            <ul class="nav flex-column">
                                <a href="list-product.html#!/pizzas"><li class="nav-item">Pizza</li></a>
                                <a href="list-product.html#!/garlic_breads"><li class="nav-item">Garlic Breads</li></a>
                                <a href="list-product.html#!/pizza_sandwiches"><li class="nav-item">Pizza Sandwiches</li></a>
                                <a href="list-product.html#!/desserts"><li class="nav-item">Desserts</li></a>
                                <a href="list-product.html#!/beverages"><li class="nav-item">Beverages</li></a>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item col dropdown-header-pages-t d-lg-none d-xl-block  d-md-none d-sm-none d-none">
                        <a href="#">Pages<i class="fas fa-caret-down"></i></a>
                        <div class="dropdown-header-pages-div-t">
                            <ul class="nav flex-column">
                                <a href="#!/location"><li class="nav-item">Location</li></a>
                                <a href="combo-offers-page.html"><li class="nav-item">Combo</li></a>
                                <a href="weekendspecial.html"><li class="nav-item">Weekend Special</li></a>
                                <a href="franchise.html"><li class="nav-item">Franchise Info</li></a>
                                <a href="galary.html"><li class="nav-item">Gallery</li></a>
                                <a href="store-location.html"><li class="nav-item">Store Location</li></a>
                                <a href="contactus.html"><li class="nav-item">Contact Us</li></a>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item col d-lg-none d-xl-block  d-md-none d-sm-none d-none">
                        <a href="#!/storelocation">Store Location</a>
                    </li>
                    <li class="nav-item col dropdown-header-cart-t d-lg-none d-xl-block  d-md-none d-sm-none d-none">
                        <a href="#" class="cart-link-home-t d-inline">
                            <i class="po po-scooter"><span class="count-item-t">0</span></i>
                            <span class="amount-money-home-t d-inline">$21.8</span>
                            <div class="dropdown-header-cart-div-t">
                                No product in cart
                            </div>
                        </a>
                    </li>
                    <li class="icon-responsive-h" onclick="closeheader()"><i class="fas fa-align-justify"></i> </li>
                </ul>
            </nav>
        </header>
        <!-- Đây là header -->
        <header class="container-fluid d-lg-none d-xl-block  d-md-none d-sm-none d-none">
            <div class="row header-single-page-t">
                <nav class="container">
                    <!-- Thanh menu trên header -->
                    <ul class="nav row align-items-center nav-single-page-t no-gutters">
                        <li class="nav-item col">
                            <a class="nav-link" href="home-page.html"><img src="images/Logo3.png" alt="Logo" class="img-fluid"></a>
                        </li>
                        <li class="nav-item col">
                            <a href="home-page.html">Home</a>
                        </li>
                                    </li>
                        <li class="nav-item col dropdown-header-category-t ">
                            <a href="#">Menu<i class="fas fa-caret-down"></i></a>
                            <div class="dropdown-header-category-div-t">
                                <ul class="nav flex-column">
                                    <a href="list-product.html#!/pizzas" ng-click="changecategorylistpage()"><li class="nav-item">Pizza</li></a>
                                    <a href="list-product.html#!/garlic_breads" ng-click="changecategorylistpage()"><li class="nav-item">Garlic Breads</li></a>
                                    <a href="list-product.html#!/pizza_sandwiches" ng-click="changecategorylistpage()"><li class="nav-item">Pizza Sandwiches</li></a>
                                    <a href="list-product.html#!/desserts" ng-click="changecategorylistpage()"><li class="nav-item">Desserts</li></a>
                                    <a href="list-product.html#!/beverages" ng-click="changecategorylistpage()"><li class="nav-item">Beverages</li></a>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item col">
                            <a href="images/downloadmenu.jpg" download>Menu<br>Download</a>
                        </li>
                        <li class="nav-item col">
                            <a href="store-location.html">Store<br>Location</a>
                        </li>
                        <li class="nav-item col">
                            <a href="location.html">Location</a>
                        </li>
                        <li class="nav-item col">
                            <a href="feedback.html">Feedback</a>
                        </li>
                        <li class="nav-item col">
                            <a href="franchise.html">Franchise</a>
                        </li>
                        <li class="nav-item col dropdown-header-pages-t">
                            <a href="#">Pages<i class="fas fa-caret-down"></i></a>
                            <div class="dropdown-header-pages-div-t">
                                <ul class="nav flex-column">
                                    <a href="combo-offers-page.html"><li class="nav-item">Combo</li></a>
                                    <a href="weekendspecial.html"><li class="nav-item">Weekend Special</li></a>
                                    <a href="galary.html"><li class="nav-item">Gallery</li></a>
                                    <a href="contactus.html"><li class="nav-item">Contact Us</li></a>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item col dropdown-header-cart-t">
                            <a href="cart-page.html" class="cart-link-home-t d-inline">
                                <i class="po po-scooter"><span class="count-item-t">2</span></i>
                                <span class="amount-money-home-t d-inline">$21.8</span>
                                <div class="dropdown-header-cart-div-t font-weight-normal ">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Product</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1x</td>
                                                <td>Black Coffee</td>
                                                <td>£1.90</td>
                                            </tr>
                                            <tr>
                                                <td>1x</td>
                                                <td>Hot Cappuccino</td>
                                                <td>£1.90</td>
                                            </tr>
                                            <tr>
                                                <td>1x</td>
                                                <td>Iced Coffee</td>
                                                <td>£1.90</td>
                                            </tr>
                                            <tr>
                                                <td>1x</td>
                                                <td>Pizzaro Coffee</td>
                                                <td>£19.9</td>
                                            </tr>
                                        </tbody>
                                        <thead>
                                            <tr>
                                                <th colspan="2">Subtotal</th>
                                                <th>£21.8</th>
                                            </tr>
                                        </thead>
                                        <thead>
                                            <tr>
                                                <th colspan="2">Total</th>
                                                <th>£21.8</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- Header nav trang chủ và trang single page -->
        <div class="category-home-t d-lg-none d-xl-block  d-md-none d-sm-none d-none">
            <div class="container">
                <ul class="row align-items-center">
                    <li class="catagory-li-single-page-t col"><a class="catagory-link-single-page-t" href="combo-offers-page.html"><i class="po po-fries icon-i-h"></i>Combo</a></li>
                    <li class="catagory-li-single-page-t col"><a class="catagory-link-single-page-t" href="weekendspecial.html"><i class="po po-best-quality icon-i-h"></i>Weekend</a></li>
                    <li class="catagory-li-single-page-t col"><a class="catagory-link-single-page-t" href="galary.html"><i class="po po-master-chef icon-i-h"></i>Gallery</a></li>
                    <li class="catagory-li-single-page-t col"><a class="catagory-link-single-page-t" href="store-location.html"><i class="po po-store-locator-menu icon-i-h"></i>Location</a></li>
                </ul>
            </div>
        </div>
        <!-- Đây là nội dung của contactus -->
        <div class="contact-page-t">
            <div class="container-fluid">
                <div class="row">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d14896.654226533243!2d105.79194457516888!3d21.026140723378596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3135ab4984052283%3A0x405da29983542b07!2zVmnhu4duIEh1eeG6v3QgSOG7jWMgLSBUcnV54buBbiBNw6F1IFRydW5nIMawxqFuZywgUGjhuqFtIFbEg24gQuG6oWNoLCBZw6puIEhvw6AsIEPhuqd1IEdp4bqleSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!3m2!1d21.0250995!2d105.78833379999999!5e0!3m2!1svi!2s!4v1536466771095"
                     frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="container text-center">
                <div class="row">
                    <div class="col-12">
                        <h1 class="d-block display-5 text-uppercase">Contact Us</h1>
                        <p>We are a second-generation family business established in 1972</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row contact-page-h">
                    <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 form-contact-page-t container">
                        <h2>Leave us a Message</h2>
                        <p>Aenean massa diam, viverra vitae luctus sed, gravida eget est. Etiam nec ipsum porttitor, consequat
                            libero eu,
                            dignissim eros. Nulla auctor lacinia enim id mollis.</p>
                        <div class="row no-gutters">
                            <div class="col">
                                <label for="first-name-form-contact-page-t">
                                    <h4>First name*</h4>
                                </label><br>
                                <input type="text" id="first-name-form-contact-page-t">
                            </div>
                            <div class="col">
                                <label for="last-name-form-contact-page-t">
                                    <h4>Last name*</h4>
                                </label><br>
                                <input type="text" id="last-name-form-contact-page-t">
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col">
                                <label for="subject-form-contact-page-t">
                                    <h4>Subject*</h4>
                                </label><br>
                                <input type="text" id="subject-form-contact-page-t">
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col">
                                <label for="message-name-form-contact-page-t">
                                    <h4>Your Message*</h4>
                                </label><br>
                                <textarea id="message-name-form-contact-page-t" rows="9" cols="40"></textarea>
                            </div>
                        </div>
                        <button type="submit" name="submit-form-contact-page-t" id="submit-form-contact-page-t" class="submit-form-contact-page-t">Send
                            Message</button>
                    </div>
                    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
                        <h2 >Our Address</h2>
                        <p>17 Princess Road London, Greater London NW1 8JR, UK<br>
                            Support (+800) 856 800 604<br>
                            E-mail: info@pizzaro.com</p>
                        <p id="my-location"></p>
                        <h3>Opening Hours</h3>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Monday</td>
                                    <td>12-6 PM</td>
                                </tr>
                                <tr>
                                    <td>Tuesday</td>
                                    <td>12-6 PM</td>
                                </tr>
                                <tr>
                                    <td>Wednesday</td>
                                    <td>12-6 PM</td>
                                </tr>
                                <tr>
                                    <td>Thursday</td>
                                    <td>12-6 PM</td>
                                </tr>
                                <tr>
                                    <td>Friday</td>
                                    <td>12-6 PM</td>
                                </tr>
                                <tr>
                                    <td>Saturday</td>
                                    <td>12-6 PM</td>
                                </tr>
                                <tr>
                                    <td>Sunday</td>
                                    <td>Closed</td>
                                </tr>
                            </tbody>
                        </table>
                        <h3>Careers</h3>
                        <p>If you are interested in employment opportunities at Pizzaro, please email us: </p>
                        <p class="text-danger"> <a href="mailto:contact@yourstore.com" target="_top" class="text-danger">
                                contact@yourstore.com</a></p>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row div-img-contact-page-t">
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 d1-pagegalary"><img src=images/gallery02.jpg width=100% height="100%"></div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 d1-pagegalary"><img src=images/gallery03.jpg width=100% height="100%"></div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 d1-pagegalary"><img src=images/gallery04.jpg width=100% height="100%"></div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 d1-pagegalary"><img src=images/gallery05.jpg width=100% height="100%"></div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 d1-pagegalary"><img src=images/gallery06.jpg width=100% height="100%"></div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 d1-pagegalary"><img src=images/gallery06.jpg width=100% height="100%"></div>
                </div>
            </div>
        </div>
        <!-- Đây là block footer -->
        <footer class="container-fluid footer-block-d">
            <div class="container">
                <div class="row">
                    <div class="  margin-auto-h">
                        <span class="badge badge-pill badge-primary"><i class="fab fa-facebook-f icon-d"></i></span>	
                        <span class="badge badge-pill badge-success"><i class="fab fa-twitter icon-d"></i></span>
                        <span class="badge badge-pill badge-warning"><i class="fab fa-instagram icon-d"></i></span>
                        <span class="badge badge-pill badge-danger"><i class="fab fa-youtube icon-d"></i></span>
                        <span class="badge badge-pill badge-info">Z</span>
                    </div>
                </div>
                <div class="row logo">
        
                        <a href="#"><img src="images/Logo4.png"></a>
        
                    </div>
                <div class="row">
                    <div class=" info col-md-12 offset-md-3 d">
                    <p> Nhà Hàng Pizza   |    Số 8 Tôn Thất Thuyết, Mỹ Đình 2, Nam Từ Liêm, Hà Nội   |    Tel: 0981356222   |   Fax: 0981356222</p>
                    <p> Copyright © 2017 Pizzaro Theme. All rights reserved.</p>
                    </div>
                    <div class=" find p-3 bg-danger text-white"> <a href="https://www.google.com/maps"> <i class="fas fa-map-marker-alt"></i> Find Us On Map </a></div>
                </div>
            </div>
        </footer>      
        <!-- Đây là nút scrollup -->
        <button class="scrollup-t"><i class="fas fa-arrow-alt-circle-up"></i></button>
   </body>
</html>