.d0{
	background-image:url(../images/HomePage01.jpg);
	  background-size: cover;
	  background-position: center;
	
}
.d1{
	padding-top: 410px;
}
.d2{
	background-image: url(../images/image02.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 425px;
}
.d3{
	background-image: url(../images/image03.jpg);
	background-repeat: no-repeat;
	height: 225px;

}
.d4{
	background-image: url(../images/image04.jpg);
	background-repeat: no-repeat;
	height: 225px;
	background-position: center;
}
.d5{
	background-image: url(../images/image05.jpg);
	background-repeat: no-repeat;
	height: 370px;
	background-position: center;
}
.d6{
	background-image: url(../images/image06.jpg);
	background-repeat: no-repeat;
	height: 370px;
	background-position: center;
}
.d7{
	background-image: url(../images/image07.jpg);
	background-repeat: no-repeat;
	height: 370px;
	background-position: center;
}
.d8{
	background-image: url(../images/image08.jpg);
	background-repeat: no-repeat;
	height: 220px;
	background-position: center;
}
.d9{
	background-image: url(../images/image09.jpg);
	background-repeat: no-repeat;
	height: 220px;
	background-position: center;
}
.d13{
	padding-top: 15px;
}
.d14{
	padding-top: 30px;
	padding-bottom: 200px;
}
.d2 .caption {
    position: absolute;
    top: .575em;
    left: .5em;
    font-size: 5em;
    width: 67%;
    color: #fff;
}
.d2 .caption .title {
    font-size: 27px;
    line-height: .8;
 }
.d2 .caption .subtitle {
    font-size: 30px;
    font-weight: 200;
 }
.d2 .caption .button {
    font-size: .3em;
    font-weight: 300;
    padding: .396em 1em;
    border-radius: 10px;
    line-height: 1;
    background-color: red;
}
.d2 .caption .condition{
	font-size: 1px;
}
.d4 .caption{
	text-align: center;
	padding-top: 80px;
	color: #fff;

}
.title span {
    font-weight: 600;
    color: #dc3545;
    font-size: .45em;
    vertical-align: top;
}
.h2, h2 {
    font-size: 3rem;
}
 .caption-d {
    font-size: 4.063em;
    width: 78%;
}
.d13 .caption-d{
	text-align: center;
	left: 20px;
}
 .caption-d {
    position: absolute;
    top: .575em;
    left: .5em;
    font-size: 5em;
    color: #fff;
}
.caption-d .description{
	color: red;	

}
 .caption-d .condition {
    font-size: .2154em;
    display: block;
    padding-top: 2px;
}
.badge-danger {
    color: #fff;
    background-color: red;
}
p{
	margin-bottom: 0px;
	}
.badge {
	font-size: 60%;
}
.caption {
    font-size: 4.063em;
    width: 78%;
}
.title {
    margin-bottom: 0;
    line-height: 1;
    font-weight: 700;
}
.d .title{
    font-size: 45px;
    padding-bottom: 20px;
    font-weight: 700;
}
.d{
	text-align: center;
}
.d .subtitle{
	font-size: 20px;
	font-weight: 300;
}

.d4 h4{
	color: red;
}













