.about {
	padding-top: 50px;
	padding-bottom: 20px;
	font-family: "Open Sans",HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}
.d{
	font-family: "Open Sans",HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	
}
.image-d{
	padding-top: 50px;
	padding-bottom: 50px;
}
.d1{
	padding-right: 0;
	padding-left: 0;
	padding-top: 50px;
}